.container{
    background-color: aqua;
    text-align: center;
}

.heading{
    color: red;
}

.para{
    color: rgb(0, 0, 0);
}

/* .btn{
    color: white;
    background-color: blue;
    height: 40px;
} */